

.footer{
    padding-bottom: 0rem!important;

}
.logo-footer
{
    width: 250px;   
}  
.foot-logo{
    max-width: 250px !important;
} 
.card-img-top img{
    max-height: 300px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.image_about
{
    width: 100%;
    object-fit: cover;
}
.product_link:hover
{
    text-decoration: none !important;
    outline: none !important;
}
.text-sm-start:hover a:nth-child(2),
.text-sm-start:hover .svg-fill-color-primary svg polygon{
    color: #6AB341 !important;
    fill: #6AB341 !important;
}  
.text-sm-start a:nth-child(2),
.text-sm-start .svg-fill-color-primary svg polygon{
    color: #3A6229  !important;
    fill: #3A6229  !important;
} 
.img-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-div{
    max-width: 23%;
    margin-right: 22px;
    margin-bottom: 22px;
}
.img-div img{
    width: 100%;
}
html .text-color-hover-primary:hover, html .text-hover-primary:hover {
    color: #3A6229  !important;
}
.product_more
{
    margin-bottom: 20px;
}
html .btn-primary {
    background-color: #3A6229;
    border-color: #3A6229 #E04622 #b63719;
    border: 1px solid #3A6229 ;
}
html .btn-primary:hover:not(.bg-transparent), html .btn-primary.hover:not(.bg-transparent) {
    background-color: #6AB341 !important;
    border: 1px solid #6AB341 ;

}
.product_height
{
    height: 80px;
}

html .svg-fill-color-dark {
    fill: #3A6229 !important;
}

html #header .header-logo.custom-header-logo:before {
    background-color: #3A6229;
}